#screen {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}
#gHeader {
    text-align: center;
    padding-top: 3%;
}
#aHeader {
    text-align: center;
    padding-top: 3%;
}
#accDetails {
    border: 2px solid black;
    text-align: center;
    width: 40%;
    margin: auto;
}
#timer {
   text-align: center; 
}

#login {
    float: right;
}
#acc {
    float: right;
}
#logout {
    float: right;
}

.inputs {
    text-align: center;
}
#guesses {
    width: 100%;
}
.input {
    width: 3em;
    height: 3em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    text-align: center;
    font-weight: bold;

}
input {
    color: transparent;
    text-shadow: 0 0 0 black;
}    
input:focus{
    box-shadow: 0px 0px 40px 15px #FE7F01;
}
h1, h2, label {
    color: white;
}
.centerText{
    text-align: center;
    align-content: center;
}


form{
    display: inline-block;
}

body {
    background-color: #333;
}

#mainDiv {
    margin: auto;
    width: 50%;
    height: 400px;
    border: 3px solid gray;
    padding: 10px;
    background-color: darkgray;
}

#setupContainer {
  margin: auto;
  width: 50%;
  height: 400px;
  border: 3px solid gray;
  padding: 10px;
  background-color: darkgray;
  text-align: center;
}

.hea {
    text-align: center;
}

#how {
    text-align: center;
}

#cont {
    text-align:center;
}

/* CSS */
#play {
  appearance: none;
  height: 50px;
  width: 150px;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

#play:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

#play:hover {
  background-color: #2c974b;
}

#play:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

#play:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

#play:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    position: relative;
}

/* Style for the icon links */
.navbar a {
    color: white;
    font-size: 24px;
    margin-left: 20px;
    text-decoration: none;
}

/* Style for the icons */
.navbar i {
    margin-right: 5px;
}

/* Style for the header */
.header {
    color: white;
    font-size: 34px;
    position: absolute;
    right: 50%;
    transform: translate(50%, 0);
}
#logoutB {
    float: right;
}